.BookingList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000; /* Tło czarne */
  color: #fff; /* Tekst biały */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Cień biały */
}

.BookingList h2 {
  text-align: center;
  margin-bottom: 20px;
}

.BookingList table {
  width: 100%;
  border-collapse: collapse;
}

.BookingList th, .BookingList td {
  padding: 10px;
  border: 1px solid #ccc; /* Szare granice */
}

.BookingList th {
  background-color: #333; /* Tło ciemnoszare */
  color: #fff; /* Tekst biały */
}

.BookingList button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #fff; /* Tło białe */
  color: #000; /* Tekst czarny */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.BookingList button:hover {
  background-color: #ccc; /* Tło po najechaniu szare */
  color: #000; /* Tekst czarny */
}
